*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background-color: mediumvioletred;
    justify-content: space-between;
    align-items: center;    
    height: 50px;
    padding: 0 10px;
}
header > h2{
    font-family: 'Times New Roman', Times, serif;
    position:absolute;
    left: 50px;
}
header > button{
    padding: 4px 16px;
}
header>img{
    width: 1.7%;

}
li>img{
    width: 8%;
}

main{
    display: flex;
    flex-grow: 1;
}
#sidebar{
    background-color: #f2d0e0;
    width: 300px;
}
main>div{
    flex-grow: 1;
}
footer{
    text-align: center;
    background-color: mediumvioletred;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}